/*tabula rasa */
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, 
a, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, 
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, 
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, table, time, mark, audio, video,
input,textarea,select
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: inline-block;
}

input, textarea, select {
  border: 1px solid #000;
}

ul, ul.inline li, ul.menu li, ul.primary, ul.primary li a, ul.primary li a.active, ul.primary li a:hover,
li, li.collapsed, li.expanded, li.leaf, ul.inline li,.item-list ul,.item-list ul li,
li.expanded,li.collapsed,li.leaf,.item-list .pager li
{
  list-style-image: none;
  list-style-type: none;
  margin:0;
  padding:0;
}


.breadcrumb,
#comments,
.form-item,
.form-actions,
.filter-wrapper,
.book-navigation ul.menu,
.book-navigation .page-links {
  border: 0;
  margin: 0;
  padding: 0;
}

.field .field-label {
  font-weight: normal;
  font-style: normal;
}


