/*General styles*/
html,body{
	background:#FFF;
	height:100%;
	width:100%;
	font-family:"Times New Roman",serif;
}

img,object{
	max-width:100%;
}

#page-wrap{
	display:block;
	height:100%;
/*leave room for bad margin/border calculations*/
	width:98%;
}
#page{
	display:block;
}

.clearfix:after{
	visibility:hidden;
	display:block;
	clear:both;
	content:" ";
	height:0;
	font-size:0;
}

.html, .front, .two-sidebars, .page-node,
.field, .field-name-body, .field-type-text-with-summary, field-label-hidden,
.field-items{
	display:inline-block;
}

.html, .front, .logged-in, .two-sidebars, .page-node{
	width:100%;
}

/*ugh, header tags. */
h1{} h2{} h3{} h4{} h5{}

.clearfix{display: inline-block;}
/*if you think that you need to support IE7, uncomment the following:*/
/* *:first-child+html .clearfix{zoom:1;} */

a{
	color:#000;
}

.element-invisible{
	display:none;
}

/*start header area*/

#header{
	display:block;
	width:100%;
	min-width:100%;
	clear:both;
	margin:.1em 2%;
	padding-bottom:.5em;

}

#header-logo-name-slogan{
	display:block;
	padding:1em;
	/*comment out the following for a fluid logo,site name, menu header:*/
	/*uncomment to allow branding to flow out of viewing window:
	white-space:nowrap;
	*/
}

#header-logo{
	display:inline-block;
}

#header-name-slogan{
	margin-top:1.2em;
	display:inline-block;
}

#header-site-name{
	font-size:1.4em;
}

#header-site-slogan{
}

#drupal-menu-blocks{
	margin-bottom:1em;
}

#drupal-header,#drupal-secondary-menu,
#drupal-main-menu li,drupal-secondary-menu li{
	display:inline-block;
	float:left;
	background:#edffff;
	border-bottom:.1em solid #a0ffff;
	border-right:.1em solid #a0ffff;
	padding:0 .2em .2em 0;
	margin-right:1em;
}

#drupal-header .block-menu,
#drupal-header .block-menu h2,
#drupal-header .content{
	display:inline-block;
}
#drupal-header .block-menu h2{
	margin-right:.5em;
	vertical-align:top;
}

#drupal-secondary-menu-links li{
	background:#e9ffff;
	border-bottom:.1em solid #a0ffff;
	margin-right:1em;
}

.menu{
	display:inline-block;
	
}

/*To customize the default message appearance, apply styles on the following:
	#messages{
	background:#A9B5F2;
	}
*/
#featured{}
/*end header area*/

/*start body area*/
#main-wrapper{
	display:block;
	position:relative;
	clear:both;
	width:100%;
}

#main{
	display:block;
	margin:2em 0 2em 0;
}

#sidebar-container{
	float:left;
	position:relative;
	display:block;
	padding-right:2%;
	clear:both;
	margin:0 .2em 4% 2%;
}

#sidebar-first{
	position:relative;
	background:#edffff;
	border-bottom:.1em solid #a0ffff;
	border-right:.1em solid #a0ffff;
	padding:0 .2em .2em 0;
}

#sidebar-second{
	display:inline-block;
	position:relative;
	background:#edffff;
	margin-top:1em;
	border-bottom:.1em solid #a0ffff;
	border-right:.1em solid #a0ffff;
	padding:0 .2em .2em 0;
	
}

/*start content area*/

#breadcrumb{
	margin:.2em;
	display:block;
}

#content{
/*If you change the sidebar width, you probably also want
to update the margin-left here as well to match the sidebar change*/
	display:inline-block;
	position:relative;
	width:75%;
	/*content-width*/
	margin-left:.1em;
	border-bottom:.1em solid #a0ffff;

	
}

#elastic-band{
	display:inline-block;
	position:relative;
}

#stretch{
	display:block;
	padding-right:10%;
	clear:both;
}

.elastic{
	display:inline-block;
	float:left;
	margin:.25em .25em;
	background:#edffff;
	border-bottom:.1em solid #a0ffff;
	border-right:.1em solid #a0ffff;
	padding:0 .2em .2em 0;
	
}

.tabs{
	background:#edffff;
	padding:.4em .2em .2em 0;
}

.tabs ul.primary li a{
	padding:.3em 2.5em 0 .3em;
	margin:0 .2em;
	background:#bdffff;
	border-top:.1em solid #a0ffff;
	border-left:.1em solid #a0ffff;
	border-right:.1em solid #a0ffff;
}

.tabs ul.primary li.active a {
  background-color: #ffdf80;
  border-top:.1em solid #dfcf70;
	border-left:.1em solid #dfcf70;
	border-right:.1em solid #dfcf70;
  border-bottom:.1em solid #ffdf80;
}

/*end content area*/
/*end body area*/
.gap{
	display:block;
	width:100%;
	height:1px;
}
/*start footer area*/
#footer-wrapper{
	display:block;
	position:relative;
	clear:both;
	width:100%;
}
#elastic-footer{
	display:block;
	padding-left:10%;
	padding-right:10%;
	clear:both;
	width:90%;
}

.elastic-footer-column{
	display:inline-block;
	float:left;
	margin:.25em .25em;
	background:#edffff;
	border-bottom:.1em solid #a0ffff;
	border-right:.1em solid #a0ffff;
	padding:0 .2em .2em 0;
	
}

#footer{
}

/*end footer area*/

/*begin admin and form actions:*/

table th{
	padding:0 1em;
}
tr.odd{
	background-color:#edffff;
}
tr.even{
	background-color:#fff;
}

tr{
	line-height:1.3em;
}
td{
	padding:.1em .2em;
}


input{
	background:#fff;
	border-color:#a0ffff;
	font-size:.8em;
	padding:.1em .4em;
}
.form-wrapper{
	padding:.4em;
}
.form-checkbox{
	line-height:1.3em;
}
.form-select{
	font-size:.8em;
	/*drop the goofy looking transparent boxes*/
	background-color:#fff;
	-webkit-border-radius: 0px;
	border-style:none;
}

.form-textarea-wrapper{
	background:#fff;
}

.block ol,
.block ul {
	display:block;
  margin: 0;
  padding: 0 0 0.25em .5em; /* LTR */
}
.contextual-links-wrapper {
  font-size: small !important;
}
ul.contextual-links {
  font-size: 0.923em;
}
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}
.item-list .pager {
  font-size: 0.929em;
}
ul.menu li {
  margin: 0;
}
li .active-trail{
	font-style:italic;
	padding-left:.5em;
}

li .active{
	background-color:#ffdf80;
}

.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em;
}
.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0;
}
ul.tips {
  padding: 0 0 0 1.25em;
}

/*end admin and form*/


/*Misc*/
.dev{
	background:#80C0FF;
	border:.4em dashed #000;
}


